<h2>Тренери</h2>
<table class="table table-striped table-bordered">
    <thead>
    <tr><th>ID</th><th>Ім'я</th><th>Спеціалізація</th><th>Біо</th></tr>
    </thead>
    <tbody>
    {{#each trainers}}
        <tr>
            <td>{{trainer_id}}</td>
            <td>{{full_name}}</td>
            <td>{{specialization}}</td>
            <td>{{bio}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>
<h3>Додати тренера</h3>
<form method="POST" action="/trainers">
    <input name="full_name" placeholder="Ім'я" required>
    <input name="specialization" placeholder="Спеціалізація">
    <input name="bio" placeholder="Біо">
    <input name="photo_url" placeholder="URL фото">
    <button type="submit">Додати</button>
</form>